@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400&display=swap');
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/mixins";
@import "../icons/bootstrap-icons.min.css";

$primary-font: 'Roboto',
sans-serif;

$secondary-font: 'Montserrat',
sans-serif;

$primary: #182D09;
$light: #7A9666;
$dark: #121e34;
$secondary: #5C6358;
$success: #28a745;
$info: #17a2b8;
$warning: #ffc107;
$danger: #dc3545;
$black: #000;
$white: #fff;
$transparent: transparent;

$theme-colors: ("primary": $primary,
  "secondary": $secondary,
  "success": $success,
  "info": $info,
  "warning": $warning,
  "danger": $danger,
  "light": $light,
  "dark": $dark,
  "transparent": $transparent,
);

$btn-primary-color: $white;
$btn-primary-bg: $primary;
$btn-primary-border: $primary;

$btn-secondary-color: $white;
$btn-secondary-bg: $secondary;
$btn-secondary-border: $secondary;

$btn-success-color: $white;
$btn-success-bg: $success;
$btn-success-border: $success;

$btn-info-color: $white;
$btn-info-bg: $info;
$btn-info-border: $info;

$btn-warning-color: $white;
$btn-warning-bg: $warning;
$btn-warning-border: $warning;

$offcanvas-transition-duration: 0s;



// Bootstrap overrides ---------------------------
// Headings --------------------------------------
$h1-font-size: 3rem;
$h2-font-size: 2.5rem;
$h3-font-size: 2rem;
$h4-font-size: 1.5rem;
$h5-font-size: 1.25rem;
$h6-font-size: 1rem;

// Navbar ----------------------------------------
$navbar-nav-link-padding-x: 1rem;
$dropdown-link-active-bg: $light;
$dropdown-dark-link-active-bg: $light;

.dropdown-item:active {
  color: $white;
  background-color: $secondary;
}

// Links ----------------------------------------
$link-color: $light;

@import "../node_modules/bootstrap/scss/bootstrap";

// HTML Element Selectors ------------------------
body {
  font-family: $primary-font;
}

a {
  text-decoration: none; // Remove underline from all links
}

a:hover,
a:focus {
  text-decoration: none; // Underline on hover and focus
  color: $secondary;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $secondary-font;
  color: $dark;
  font-weight: 700;
}

h3,
h4,
h5,
h6 {
  font-weight: 500;
}

blockquote {
  @extend .blockquote;
  font-weight: 300;
}

// Class Selectors -------------------------------
.logo {
  max-width: 170px;
}

.identity {
  margin-bottom: -40px;
}

.site-name {
  font-size: 3rem;
  font-weight: 100;
  color: $white;
  font-family: $secondary-font;
}

.breadcrumb {
  @extend .my-1;
  @extend .fst-italic;
  @extend .text-muted;
  @extend .small;
}

.node__links a {
  @extend .btn;
  @extend .btn-outline-secondary;
  @extend .btn-sm;
}

.offcanvas-body h2 {
  margin-bottom: 0
}

.node__submitted {
  margin-bottom: 1rem;
  @extend .text-body-secondary;
}

.text-formatted {
  font-size: 1.1rem;
  line-height: 1.5;
  @extend .text-body-secondary;
}

.article-menu a {
  display: block;
}

.article-menu .list-group-item.active {
  background-color: $white;
  color: $dark;
  border-color: #dee2e6;
}

// Nested Selectors and Pseudo-classes -----------
a {

  &:hover,
  &:focus {
    text-decoration: none; // Underline on hover and focus
    color: $secondary;
  }

  .is-active & {
    text-decoration: underline; // Underline on hover and focus
    color: $primary;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  a {
    color: $dark;
  }
}

.site-name {
  >a {
    color: $white;
  }
}

.article-menu .list-group-item.active {
  a {
    color: $dark;
  }
}

// Complex Selectors ------------------------------

ul.menu a.is-active {
  color: $primary;
}

// .menu.navbar-nav>li:last-child>a {
//   @extend .btn;
//   @extend .btn-outline-light;
// }

.dropdown-menu .active a {
  color: $white;
  background-color: $secondary;
}

.off-canvas-pages .list-group>li:first-child {
  padding-top: 5px;
}

h1.page-title {
  margin-bottom: 1rem;
}

// forms -----------------------------------------

.form-text,
.form-email,
.form-textarea {
  @extend .form-control;
}

.form-item {
  @extend .mb-3;
}

form .description,
form p {
  @extend .text-muted;
}

.button {
  @extend .btn;
  @extend .btn-outline-secondary;
}

.main-login .user-login-form input {
  @extend .mw-100;
}

.field--name-field-footnotes>* {
  @extend .text-muted;
  @extend .small;
}

form label {
  @extend .form-label;
  display: block;
}

.webform-actions input {
  @extend .btn;
  @extend .btn-lg;
  @extend .btn-secondary;
}

.field--name-field-content>* {
  @extend .text-white;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 300,
  'GRAD' 200,
  'opsz' 24;
}

.material-symbols-outlined {
  font-size: 40px;
  transition: transform 0.3s ease; /* Transition on transform */
  transform: scale(1); /* Default scale */
}

.material-symbols-outlined:hover {
  transform: scale(1.2); /* Scale up on hover */
}

.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.align-items-center {
  align-items: center;
}
html, body {
  height: 100%;
}

@media (max-width: 767px) {
    img {
        width: 50%; /* Example: reducing the width */
        height: auto;
    }
}

.bg-dark-transparent {
    background-color: rgba(0, 0, 0, 0.5);
}

.nav-link, ul.menu a.is-active {
    color: #fff;
}

.navbar-toggler {
  margin-left: auto;
}