# System files
.DS_Store

# Node modules and related files
node_modules/

# Compiled CSS (if you compile SCSS/SASS to CSS)
# Uncomment the line below if you generate CSS files from SCSS/SASS and want to ignore them
# css/

# Source files (if they are not needed in production)
# Uncomment the line below if you do not want to track the src/ folder
src/

# Any other files or directories specific to your workflow that you don't want to track
# Example:
build/
.env

